@page "/dashboard"
@*@model UPLB_P2P.Website.Pages.DashboardModel*@
@*@{
	//ViewData["Title"] = "Dashboard";
}*@

@*
	create a dashboard with three posts containing first line with name of professor, name of course, and overall rating
	second line with three ratings: exam difficulty, workload, and interest
	third line with "review by" + user name AND date posted
	body that contains the body of the review
	and a footer line with shows number of comments and like and dislike buttons + number of likes - number of dislikes
*@

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<Review ProfessorName="Prof. Von Vista"/>
		</div>
	</div>
</div>



	

