@*create login page*@

<div class="container">
	<div class="row align-items-center">

		<div class="col-sm">
			<h1>Signup</h1>
			<label for="username" class="form-label">Username</label>
			<input type="email" class="form-control" id="username" placeholder="">
			<br />
			<label for="email" class="form-label">Email address</label>
			<input type="email" class="form-control" id="email" placeholder="name@example.com">
			<br />
			<label for="password" class="form-label">Password</label>
			<input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock">
			<br />
			<label for="repeatPassword" class="form-label">Repeat Password</label>
			<input type="password" id="repeatPassword" class="form-control" aria-describedby="passwordHelpBlock">
			@*button for form submission*@
			<br />
			<button type="button" class="btn btn-primary">Signup</button>
			<button type="button" class="btn btn-danger">Signup using Google</button>


		</div>

		<div class="col-sm">
			@*svg illustration from Content/Images*@
			<img src="/Content/Images/signup.svg" alt="login" width="500" height="500">

		</div>

	</div>


</div>

