@tailwind base;
@tailwind components;
@tailwind utilities;

@page
@model UPLB_P2P.Website.Pages.DashboardModel
@{
	
	
	ViewData["Title"] = "Dashboard";
}

@*create a simple dashboard*@
<h1>Dashboard</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>


	

